# Horizon QA Automation Configuration
BASE_URL=https://horizon-plus.dfp8hwwhcxnpq.amplifyapp.com
LOGIN_URL=https://horizon-plus.dfp8hwwhcxnpq.amplifyapp.com/login
LIGHTHOUSE_URL=https://horizon-plus.dfp8hwwhcxnpq.amplifyapp.com
LIGHTHOUSE_TIMEOUT=120
HEADLESS=true
USERNAME=
PASSWORD=
